<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:usesCleartextTraffic="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/walkgo_logo_1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/walkgo_logo_1_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WalkGo"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.api.walkgo.PerfilActivity"
            android:exported="false" />

        <activity
            android:name=".SeguidoresActivity"
            android:exported="false" />

        <activity
            android:name=".LogoutActivity"
            android:exported="false" />

        <activity
            android:name=".RecorridoActivity"
            android:exported="false" />

        <activity
            android:name=".EstadisticasActivity"
            android:exported="false" />

        <activity
            android:name=".RankingActivity"
            android:exported="false" />

        <activity
            android:name="com.api.walkgo.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegistroActivity"
            android:exported="false" />

        <activity
            android:name=".HomeActivity"
            android:exported="true" />

        <activity
            android:name=".SettingsActivity"
            android:exported="true" />

        <activity android:name=".EditarPerfilActivity"
            android:exported="false"/>

    </application>

</manifest>